/* HOME */

.homeContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 1em 2em;
    max-width: 320px;
    margin: 30px auto;
}

.mainBtn{
    margin-top: 1em;
    border-radius: 4%;
    color:var(--safety-orange);
    text-decoration: none;
    font-size: var(--text-size-500);
    margin: 0 auto;

}

.mainBtn span{
    margin-right: 0.3em;
}

/* LIST PAGE */

.inputContainer {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input,
.submitBtn{
    /* font-family: 'Rubik', sans-serif; */
    padding: 15px;
    border: 0;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
}
input {
    color: #432000;
    background-color: #DCE1EB;
    margin: 10px 0;
}

.submitBtn {
    color: #FDFDFD;
    background-color: var(--main-button);
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.filterContainer{
    min-width: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.filterOption{
    background-color: antiquewhite;
    color: black;
    font-weight: bolder;
    padding: 1em;
}

.submitBtn:hover,
.filterOption:hover{
 cursor: pointer;
}

.submitBtn:hover{
    background-color: var(--light-green);
    color:#432000;
}

.filterOption:hover{
    border: 1px solid red;
    border-radius: 8px;;
    color:#432000;
}