/* LIST PAGE */
.mainContainer,
.formContainer,
.listContainer{
    display: flex;
}

.mainContainer,
.formContainer{
    flex-direction: column;
}

.mainContainer{
    margin-top: 2em;
    align-items: center;
    gap: 24px;
}

.formContainer > input,
.formContainer > select{
    border: none;
    background-color: var(--aqua-marine);
}

.formContainer > select{
    margin: 10px 0 20px 0;
    font-weight: bold;;
}

.formContainer > button{
    color:azure;
    background-color: brown;
}

.listContainer{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.emptyText{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding: 1em;
    border: 2px solid var(--pastel-pink);
    border-radius: 10px;
    margin: 1em;
}
