/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* TODO Look up if vars in this file can be picked up by components */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Colors */

:root {
  /* CSS HSL */
  --blue-gray: hsla(207, 58%, 59%, 1);
  --gunmetal: hsla(199, 64%, 16%, 1);
  --cadet-gray: hsla(180, 12%, 55%, 1);
  --paynes-gray: hsla(200, 32%, 40%, 1);
  --safety-orange: hsla(28, 99%, 50%, 1);
  --creamy-white: #f4f3f3;
  --vibrant-green: #30f92f;
  --deep-forest: #14241f;
  --bold-red: #fa252d;
  --royal-blue: #3227fe;
  --ivory: #fdf9ee;
  --dark-jungle-green: #091916;
  --cherry-red: #fd101e;
  --neon-green: #1ffe0f;
  --neon-blue: #1e16fe;
  --light-green: #31fcba;
  --pastel-pink: #ec928e;
  --aqua-marine: #e6fefe;
  --lavender: #f4e5fd;
  --soft-purple: #8566ff;
  --light-olive: #c1f957;
  --sage-green: #606c54;
}

/* Type Scale */

html {
  font-size: 87.5%;
}

body {
  --text-size-80: 0.694rem;
  --text-size-90: 0.833rem;
  --text-size-100: 1rem;
  --text-size-200: 1.2rem;
  --text-size-300: 1.44rem;
  --text-size-400: 1.728rem;
  --text-size-500: 2.074rem;
  --text-size-600: 2.488rem;
  --text-size-700: 2.986rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #222222;
  background-color: #EEF0F4;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.022em;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
small {
  font-size: var(--text-size-90);
}
h6,
.h6 {
  font-size: var(--text-size-200);
}
h5,
.h5 {
  font-size: var(--text-size-300);
}
h4,
.h4 {
  font-size: var(--text-size-400);
}
h3,
.h3 {
  font-size: var(--text-size-500);
}
h2,
.h2 {
  font-size: var(--text-size-600);
}
h1,
.h1 {
  font-size: var(--text-size-700);
}
.text-size-80 {
  font-size: var(--text-size-80);
}
.text-size-90 {
  font-size: var(--text-size-90);
}
.text-size-100 {
  font-size: var(--text-size-100);
}
.text-size-200 {
  font-size: var(--text-size-200);
}
.text-size-300 {
  font-size: var(--text-size-300);
}
.text-size-400 {
  font-size: var(--text-size-400);
}
.text-size-500 {
  font-size: var(--text-size-500);
}
.text-size-600 {
  font-size: var(--text-size-600);
}
.text-size-700 {
  font-size: var(--text-size-700);
}

@media screen and (min-width: 767px) {
  html {
    font-size: 100%;
  }
  body {
    --text-size-80: 0.694rem;
    --text-size-90: 0.833rem;
    --text-size-100: 1rem;
    --text-size-200: 1.2rem;
    --text-size-300: 1.44rem;
    --text-size-400: 1.728rem;
    --text-size-500: 2.074rem;
    --text-size-600: 2.488rem;
    --text-size-700: 2.986rem;
  }
}